<html>
  <head>
    <title>Deci</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/mui-0.9.41.css" rel="stylesheet" type="text/css" />
    <script src="/static/mui-0.9.41.js"></script>
    <script src="/static/utils.js" type="text/javascript"></script>
    <script src="/static/app.js" type="text/javascript"></script>
  </head>
  <body>
    <header class="mui-appbar mui--z1">
      <!-- Appbar HTML goes here -->
    </header>
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        {{ template "content" . }}
      </div>
    </div>
    <footer>
      <div class="mui-container mui--text-center">
      </div>
    </footer>
  </body>
</html>
