<html>
  <head>
    <title>Deci</title>

    <script src="/static/utils.js" type="text/javascript"></script>
    <script src="/static/app.js" type="text/javascript"></script>
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>
