{{ define "content" }}
<div class="mui-row">
  <div class="mui-col-md-4 mui-col-md-offset-4">
    <div class="mui-panel mui--text-center">
      <p>Error!</p>
      <p><img src="/static/error.gif"/></p>
    </div>
  </div>
</div>
{{ end }}
