{{ define "content" }}
<script type="text/javascript">
  ready(function() {
    attemptAuthentication();
  });
</script>

<div class="mui-row">
  <div class="mui-col-md-4 mui-col-md-offset-4">
    <div class="mui-panel mui--text-center">
      <p>Login with your existing authenticator</p>
      <p><img src="/static/spinner256.gif"/></p>
      <p><a href="/StartEnrollment">Enroll New Key</a></p>
    </div>
  </div>
</div>
{{ end }}
